WebServiceTest/Client/ConsoleClient/Service References/PatientInformation/PatientInformation1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/WebServiceTest/PatientInformation/PatientInformation.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Service.DataContracts.PatientInformation" />
  <xs:element name="GetPatientInformation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPatientInformationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Service.DataContracts.PatientInformation" minOccurs="0" name="GetPatientInformationResult" nillable="true" type="q1:PIDataContracts" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPatientInformation">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPatientInformationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Service.DataContracts.PatientInformation" minOccurs="0" name="GetAllPatientInformationResult" nillable="true" type="q2:ArrayOfPIDataContracts" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>